<script setup lang="ts">
    import {reactive, computed} from 'vue';
            const state = reactive({
                num1: "1",
                num2: "1",
                result: 2
            });
            const result = computed(function() {
                state.result = parseInt(state.num1) + parseInt(state.num2);
            });
            const doAdd = function() {
                state.result = parseInt(state.num1) + parseInt(state.num2);
            }
</script>
    
<template>
    <div class="card">
        <div><input type="text" ref="num1" v-model = "state.num1" class="centertext"></div>
        <div class="centertext bold">+</div>
        <div><input type="text" ref="num2" v-model = "state.num2" class="centertext"></div>
        <div><button class="centertext wPx" @click="doAdd()">=</button></div>
        <div ref="result" class="centertext">{{state.result}}</div>
        <div class = "center_text"> {{state.num1}} + {{state.num2}} = {{state.result}}</div>
    </div>
</template>

<style>
    .centertext {
            text-align: center;
            font-size: 20pt;
            margin: 5px;
        }

        .card {
            text-align: center;
            width: 400px;
            border-style: solid;
            padding: 10px;
        }

        .bold {
            font-weight: bold;
        }

        .wPx {
            width: 100px;
        }
</style>