<script setup lang="ts">
import { ref } from 'vue';
const text = ref("Edit Me")
const checked = ref(true)
const checkedNames = ref(["Jack"])
const picked = ref("One")
const selected = ref("A")
const multiSelected = ref(["1"])
</script>

<template>
    <h2>Text Input</h2>
    <input v-model="text" /> {{ text }}
    <h2>Checkbox</h2>
    <input type="checkbox" v-model="checked" id="checkbox">
    <label for="checkbox">Checked: {{ checked }}</label>
    <h2>Mutiple Checkbox</h2>
    <input type="checkbox" v-model="checkedNames" id="Jack" value="Jack">
    <label for="John">Jack</label>
    <input type="checkbox" v-model="checkedNames" id="John" value="John">
    <label for="John">John</label>
    <input type="checkbox" v-model="checkedNames" id="Mike" value="Mike">
    <label for="Mike">Mike</label>
    <p>Checked Names</p>
    <pre> {{ checkedNames }} </pre>
    <br />
    <h2>Radio</h2>
    <input type="radio" v-model="picked" id="one" value="One">
    <label for="one">One</label>
    <input type="radio" v-model="picked" id="two" value="Two">
    <label for="two">Two</label><br />
    <span>
        Picked: {{ picked }}
    </span>

    <h2>Select</h2>
    <select v-model="selected">
        <option disabled value=""> Please select one </option>
        <option value="1"> A </option>
        <option value="2"> B </option>
        <option value="3"> C </option>
    </select>
    <span>Selected {{ selected }}</span>

    <h2>Multiple Select</h2>
    <select v-model="multiSelected" multiple style ="width:100px">
        <option disabled value=""> Please select one </option>
        <option value="1"> A </option>
        <option value="2"> B </option>
        <option value="3"> C </option>
    </select>
    <span>Selected {{ multiSelected }}</span>
</template>
